# Debian and GPU DDK specific config

#LINUX_defconfig[config]+=" mali_gpu.cfg"

# Toolchain
AARCH64_LINUX_GPU=$(find $TOOLS_DIR -type d -name "gcc-arm-*-x86_64-aarch64-linux-gnu")"/bin"

# GPU DDK
DEB_DDK_VERSION=r40p0_01eac0
DEB_DDK_REPO=ssh://eu-gerrit-1.euhpc.arm.com:29418/GPU-SW/midgard_sw/driver
DEB_DDK_GNU_PREFIX=$AARCH64_LINUX_GPU/aarch64-linux-gnu-
DEB_DDK_BUILD_DIR=$SRC_DIR/mali/product/build_mali
DEBIAN_OUT_DIR=$OUTPUT_DIR/tmp_build/debian
DEB_DDK_INSTALL_DIR=$DEB_DDK_BUILD_DIR/install
DEB_DDK_DEPLOY_DIR=$DEPLOY_DIR/$PLATFORM/ddk
DEB_DDK_CSF_FW_DIR=$DEB_DDK_DEPLOY_DIR/lib/firmware
DEB_DDK_MALI_DIR=$DEB_DDK_DEPLOY_DIR/lib/aarch64-linux-gnu/mali
DEB_DDK_WAYLAND_DIR=$DEB_DDK_MALI_DIR/wayland
DEBIAN_WESTON_RUNSCRIPT=$DEBIAN_FILES/$PLATFORM/
DEB_DDK_MALI_KBASE_MODULE=$SRC_DIR/mali/product/kernel/drivers/gpu/arm/midgard
