# Copyright © 2023 Arm Ltd. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause

# This configuration is for all the Machine Learning (ML) application
# build, test and verification. It is meant to be included after the
# common config as it relies on variables set there.

# ML application build and installation:
ML_APP_TFL_SRC="${SRC_DIR}/tensorflow"
ML_APP_BUILD_DIR="${OUTPUT_DIR}/tmp_build/ml-app"
ML_APP_COMPILER_PREFIX="${AARCH64_LINUX}/aarch64-none-linux-gnu-"
ML_APP_INSTALL_PREFIX="${BUILDROOT_ROOTFS_OVERLAY}/usr"

# ML neural network models deployment:
ML_APP_MODEL_URL_BASE="https://tfhub.dev/google/lite-model"
ML_APP_SAMPLE_MODEL_NAME_LIST=(
    "mobilenet_v3_small_100_224.tflite"
    "mobile_object_localizer_v1.tflite"
)
ML_APP_SAMPLE_MODEL_URL_LIST=(
    "${ML_APP_MODEL_URL_BASE}/imagenet/mobilenet_v3_small_100_224/classification/5/default/1?lite-format=tflite"
    "${ML_APP_MODEL_URL_BASE}/object_detection/mobile_object_localizer_v1/1/default/1?lite-format=tflite"
)
ML_APP_SAMPLE_MODEL_INSTALL_PATH="${BUILDROOT_ROOTFS_OVERLAY}/opt/arm/ml"
